.front-end {
display: grid;
grid-template-columns: repeat(3, 350px);
gap: 30px;
margin-bottom: 10px;
}

.img-front {
border: 3px solid rgb(255, 255, 255);
width: 358px;
background-color: transparent;

border-radius: 10px;
padding-bottom: 10px;
}

.text-front {
font-size: 1.2em;
color: rgb(255, 255, 255);
}

.border-bottom {
border-bottom: 3px solid rgb(255, 255, 255);
border-top: 3px solid rgb(255, 255, 255);
}

.btn-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.buuton-front {
width: 250px;
height: 50px;
border-radius: 10px;
background-color: transparent;
color: rgb(255, 255, 255);
margin-top: 10px;
margin-bottom: 5px;
font-weight: 900;
font-size: 1.2em;
border: 3px solid rgb(255, 255, 255);
}

.buuton-front:hover {
background-color: rgb(43, 109, 252);
cursor: pointer;
}

@media (max-width: 1155px) {
.front-end {
display: grid;
grid-template-columns: repeat(2, 350px);
}
}

@media (max-width: 760px) {
.front-end {
display: grid;
grid-template-columns: repeat(1, 350px);
}
}

@media (max-width: 400px) {
.img-front {
width: 320px;
margin-left: 17px;
}

.border-bottom {
width: 310px;
}
}
