.habilidades {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 20px;
}

.container-habilidades {
border: 3px solid rgb(255, 255, 255);
width: 350px;
background-color: transparent;
position: relative;
padding-bottom: 10px;
border-radius: 15px;
}

.title-habilidades {
font-size: 2em;
color: rgb(0, 81, 255);
}

.text-habilidades {
font-size: 1.4em;
color: rgb(255, 255, 255);
}

.border-bottom {
border-bottom: 3px solid rgb(255, 255, 255);
border-top: 3px solid rgb(255, 255, 255);
}

.tec {
background-color: transparent;
transition: transform 0.3s ease-in-out;
border: none;
margin: 0 7px;
cursor: pointer;
}

.img-tec {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.tec:hover {
transition: all 1s ease-in;
transform: rotateY(360deg);
}
